<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<a href="/">⬅ Kembali</a>
<h1>Hasil pencarian: <%= query %></h1>

<div class="container">
    <% animes.forEach(anime => { %>
        <div class="card">
            <img src="<%= anime.images.jpg.image_url %>">
            <h3><%= anime.title %></h3>
            <p>⭐ <%= anime.score %></p>
            <a href="/anime/<%= anime.mal_id %>">Detail</a>
        </div>
    <% }) %>
</div>

</body>
</html>
